.PuzzlePage {
    position: relative;
    width: min-content;
    margin: auto;
}

.PuzzlePage__header {
    display: flex;
    align-items: flex-end;

    >span {
        margin-left: 10px;
        color: #078207;
        text-shadow: 0 0 6px #b6e2a4;
        cursor: pointer;
        &:hover {
            text-shadow: 0 0 6px #57d238;
        }
    }

    .PuzzlePage__left {
        flex: 1;
        margin-left: 0;
    }

    .PuzzlePage__mini{
        position: absolute;
        left: 0;
        bottom: 0;
        transform-origin: bottom left;
        transform: rotate(-90deg);
        font-size: 0.5em
    }
}