
.Navigation {
    width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;

    button {
        margin-top: 15px;
        font-size: 1.5em;
        background-color: #e6ffe6;
        border: 2px solid #92cca4;
        border-radius: 2px;
        box-shadow: 2px 2px green;
        cursor: pointer;

        &:focus {
            background-color: #cbfffe;
            border-color: #92cccb;
            box-shadow: 2px 2px #008077;
        }
        &:hover {
            background-color: #e1f6e1;
            border-color: #92cca4;
            box-shadow: 2px 2px green;
        }

        &:active {
            transition: 0.1s;
            transform: translate(2px, 2px);
            box-shadow: none;
        }
    }
}
