
.Navigation {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;

    button {
        background-color: #4ea204;
        border: 2px solid #104201;
        height: 2em;
        color: white;
        margin: 0.2em 0;
        cursor: pointer;
        outline: none;
        &:hover {
            background-color: green;
        }
        &:focus {
            background-color: blue;
        }
        &:active {
            background-color: green;
        }
    }
}
