body{
  background-color: white;
  color: black;

  canvas{
    border: solid black;
  }

  ul{
    padding-left: 20px;
    list-style: none;

    h5{
      margin-bottom: -3px;
    }

    .current{
      font-weight: bold;
    }
    .current:before{
      content: " • ";
    }
    .not-current:hover, .solved:hover, h5:hover{
      font-weight: bold;
    }
    .visible{
      display: inherit;
    }
    .hidden{
      display: none;
    }
    .solved:before{
      content: "✓";
    }
  }

  .navbar{
    background-color: black;
    color: white;
  }
}
